/*outline: 1px red solid;*/ /*строка черновик для отладки, просто линия или обводка*/

*{/*обнуляющие теги (обнуление отступов браузеров по умолчанию)*/
    margin: 0;
    padding: 0;
}

html,body{ /*размер страницы всё видимое окно браузера можно сделать больше*/
    height: 100%;
}

/*WRAPPER*/
.wrapper{ /* управляющий селектор он задаёт поведение всей страницы */
    display: flex; /* 1. Расположить элементы в ряд */
    flex-direction: column; /* 2. Расположить элементы по вертикали */
    height: 100%;
}

.empty_block{
    width:100%;
    height:70px;
}

/*logo*/
.logo img{/*прописывам логотип*/
    float:left;
    margin-left: 80px;
    width: 200px;
}

/*MENU*/

.header{
    height:140px; /*высота шапки*/
    background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%); /*цвет шапки градиент*/
}

.main_menu{
    display: flex;/* элементы меню расположены в ряд по горизонтали */
    justify-content: flex-end;/* элементы меню начинаются с правого края страницы */
    padding-right: 60px; /* отступить от правого края внешних границ */
}

.main_menu a{
    text-decoration: none; /* убрать подчёркивание у ссылок */
    color: darkslategrey; /* цвет текста */
    font-weight: 400; /* вес текста (толщина) */
}

.main_menu li{ /* эта часть имитирует кнопки из тегов меню li */
    list-style: none; /* убрать обозначения пунктов у тегов li */
    margin-right: 10px; /* отступ элементов между собой (между пунктами меню) */
    margin-top: 5%; /* отступ текста сверху внутри кнопки */
    width: 140px; /* ширина кнопки */
    /*по сути в данном случае box-shadow - формирует тело кнопки*/
    box-shadow: 10px 10px 10px grey; /* подсветка кнопки (тень, можно сделать свечение) */
    font-family: monospace; /* шрифт */
    border-radius: 100px; /* скругление кнопки */
    text-align: center; /* выравнивание текста по центру кнопки */
}

.main_menu li:hover{ /* действие при наведении мыши на кнопку */
    transition-duration: 1s; /* время перехода эффекта кнопки (задержка) */
    box-shadow: 4px 5px 50px grey;  /* подсветка кнопки (тень, можно сделать свечение) */
}

.main_menu p{
    font-size: 18px; /* размер шрифта */
}

/*CONTENT*/
.content{ /*определяет поведение контента между шапкой и футером (как будет вести себя текст и т.д.)*/
    width: 60%; /* текст будет занимать 60% по горизонтали */
    margin: 100px auto 0; /* отступить 60 px от верха */
    flex: 1 0 auto; /* выровнять текст по центру */
}

/* MAIN PAGE */
.info{
    display: flex;
    width: 80%; /*размер блока (контента на главной странице) */
    /*в margin аргументы: 1-top 2-left 3-reight 4-top  (но можно как в примере ниже бока записать как auto)
    чтобы равномерно поделить отступы или иными слвами сделать по середине*/
    margin: 80px auto 0; /* эта строка выравнивает блок по середине страницы */
    box-shadow: -5px 15px 10px skyblue;
    align-items: center;
    border-radius: 200px;
    font-family: monospace;
    /*border: 2px solid red;*/ /* используй красные бордеры для отладки и определения элемена */
}

.description{
    font-size: 40px;
    margin: 0 auto;
    text-align: right; /*? нужен или нет*/
}

.names{ /*верхняя плашка в которой написано "Mike do IT - fullstack разработка"*/
    box-shadow: -5px 15px 10px skyblue;
    border-radius: 200px;
    padding: 10px 20px; /*отступы текста (сверху и снизу по 10 по бокам 20)*/
    letter-spacing: 3px;
    margin-bottom: 20px; /* отталкивает нижние плашки от заголовка */
}


.desc{/*нижние плашки (html,css,python и т.д.)*/
    width: 100%;
    font-width: 600px;
    color: dodgerblue;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 0px skyblue;
    border-radius: 200px;
}

.desc li{
    margin-bottom: 10px;
    font-style: normal;
    box-shadow: 5px 3px 10px grey;
    font-size: 25px;
    padding: 5px;
    font-family: monospace;
    font-size: 20px;
    border-radius: 200px;
    letter-spacing: 2px;
    list-style: none;
}

ul.checkmark li:before {
    content: "\2713\0020"; /*рисует зеленые галочки на кнопках*/
    color: forestgreen;
}


.checkmark li{
    list-style: none;
}

.checkmark li:hover{
    transition-duration: 0.1s;
    box-shadow: 0px 12px 10px orange;
}

ul a{ /*настройка всех тегов <a>*/
    text-decoration: none;
    color: mediumaquamarine;
}


/*FOOTER*/
.footer{
    display:flex; /* разместить элементы подвала по горизонтали */
    background-color: antiquewhite; /* цвет фона */
    justify-content: center; /* выровнять текст по центру горизонтали */
    align-items: center; /* выровнять текст по центру вертикали */
    width:100%; /* ширина (вся страница) */
    height: 100px; /* высота */
    font-size: 15px; /* шрифт размер */
    font-family: monospace; /* шрифт семейство */
    flex: 0 0 auto; /* позиционирование элемента в самом низу */
}
